<h2 mat-dialog-title>Update Product</h2>
<mat-dialog-content>
  <form class="add-form-container">
    
    <div class="section-form-container">
      <h3>Product Information</h3>
      <div class="form-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput value="{{name}}" [(ngModel)]="name" name="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput value="{{description}}" [(ngModel)]="description" name="description">
        </mat-form-field>
      </div>
    </div>

    <div class="section-form-container">
      <h3>Quantitative Information</h3>
      <div class="form-container">
        <mat-form-field>
          <mat-label>Unit</mat-label>
          <input matInput value="{{unit}}" [(ngModel)]="unit" name="unit">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prices</mat-label>
          <input matInput value="{{prices}}" [(ngModel)]="prices" name="prices">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input matInput value="{{stock}}" [(ngModel)]="stock" name="stock">
        </mat-form-field>
      </div>
    </div>

    <div class="section-form-container">
      <h3>Additional Information</h3>
      <div class="form-container">
        <mat-form-field>
          <mat-label>Notes</mat-label>
          <input matInput value="{{notes}}" [(ngModel)]="notes" name="notes">
        </mat-form-field>
      </div>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="close()">Annulla</button>
  <button mat-flat-button (click)="save()">Salva</button>
</mat-dialog-actions>