mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 192px;
  border: 1px solid black;
}

mat-list-item {
  padding: 12px;
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mat-icon-container {
  margin-right: 12px;
  margin-top: 4px;
}