.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 16px;
}

.sale-sidenavbar-icon {
  width: 100%;
}

mat-sidenav {
  width: 150px;
  border: 1px solid black;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 12px;
}