<mat-sidenav-container>
  
  <mat-sidenav mode="side" opened *ngIf="showAppComponentContainer">
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>MyCRM</span>
      </a>
      <a mat-list-item routerLink="sales">
        <mat-icon matListIcon>sell</mat-icon>
        <span matLine>Sales</span>
      </a>
      <a mat-list-item routerLink="products">
        <mat-icon matListIcon>inventory</mat-icon>
        <span matLine>Inventory</span>
      </a>
      <a mat-list-item routerLink="customers">
        <mat-icon matListIcon>contact_page</mat-icon>
        <span matLine>Customers</span>
      </a>
      <a mat-list-item routerLink="settings">
        <mat-icon matListIcon>settings</mat-icon>
        <span matLine>Settings</span>
      </a>
      <a mat-list-item routerLink="logout">
        <mat-icon matListIcon>logout</mat-icon>
        <span matLine>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>