<div class="home-component-container">
    <h1>Welcome to MyCRM</h1>
    <div class="button-section-container">
        <h3>Everything start from here:</h3>
        <div class="button-container">
            <button mat-stroked-button (click)="openSalesPage()"> <mat-icon matListIcon>sell</mat-icon> Sales </button>
            <button mat-stroked-button (click)="openProductsPage()"> <mat-icon matListIcon>inventory</mat-icon> Products</button>
            <button mat-stroked-button (click)="openCustomersPage()"> <mat-icon matListIcon>contact_page</mat-icon> Customers</button>
            <button mat-stroked-button (click)="openSettingsPage()"> <mat-icon matListIcon>settings</mat-icon> Settings</button>
        </div>
    </div>
</div>