<mat-toolbar color="primary">
    <span class="toolbar-title">Customers page</span>
    <button mat-flat-button color="warn" (click)="openCreateCustomerDialog()">Create</button>
    <button mat-flat-button color="warn" (click)="readCustomers()">Load</button>
    <button mat-flat-button color="warn" (click)="readCustomers()" disabled>Import</button>
    <button mat-flat-button color="warn" (click)="readCustomers()" disabled>Segment by</button>
    <span class="example-spacer"></span>
    <span class="toolbar-title">MyCRM</span>
</mat-toolbar>

<div class="table-container">
  <table mat-table [dataSource]="customersDataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let customer"> {{customer.name + " " + customer.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
      <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="organizationName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization name</th>
      <td mat-cell *matCellDef="let customer"> {{customer.organizationName}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let customer"> {{customer.city}} </td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      <td mat-cell *matCellDef="let customer"> {{customer.region}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let customer"> {{customer.state}} </td>
    </ng-container>

    <ng-container matColumnDef="coreBusiness">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Core Business</th>
      <td mat-cell *matCellDef="let customer"> {{customer.coreBusiness}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
      <td mat-cell *matCellDef="let customer"> {{customer.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
      <td mat-cell *matCellDef="let customer"> {{customer.notes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected-row]="currentSelectedCustomer === row" (click)="rowClicked(row)"></tr>
  </table>
</div>

<mat-toolbar color="primary" class="footer-toolbar">
    <button mat-flat-button [disabled]="!isRowSelected" (click)="deleteCustomer()">Delete</button>
    <button mat-flat-button [disabled]="!isRowSelected" (click)="modifyCustomer()">Modify</button>
    <button mat-flat-button disabled>Send Message</button>
    <button mat-flat-button disabled>Send Email</button>
    <button mat-flat-button disabled>Other actions</button>
</mat-toolbar>