.toolbar-title {
    font-size: 32px;
}

mat-toolbar {
    padding-top: 16px;
}

.example-spacer {
    flex: 1 1 auto;
}

.footer-toolbar {
  margin-top: auto;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: aqua;
}

.customer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 600px;
    margin: 0px auto;
    margin-top: 64px;
    overflow: auto;
    border: 1px solid black;
}

mat-selection-list {
    width: 100%;
    height: 100%;
}