<form class="login-form">
  <h1>MyCRM</h1>
  <mat-form-field class="input-text">
    <mat-label>Username</mat-label>
    <input matInput placeholder="" value="" [(ngModel)]="username" name="username">
  </mat-form-field>

  <mat-form-field class="input-text">
    <mat-label>Password</mat-label>
    <input matInput placeholder="" value="" type="password" [(ngModel)]="password" name="password">
  </mat-form-field>
  
  <div class="button-container">
    <button mat-flat-button (click)="onRegistration()">Sign in</button>
    <button mat-flat-button (click)="onSubmit()">Login</button>
  </div>

  <!--<span layout="row"><hr flex/><h2>Access with Single Sign On</h2></span>-->
</form>