<h2 mat-dialog-title>Add new Customer</h2>
<mat-dialog-content>
  <form class="add-customer-form">

    <!--Anagraphic Information-->
    <div class="form-fields-container">
      <h3>Anagraphical Information</h3>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Giuseppe" [(ngModel)]="name" name="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>
    </div>

    <!--Organizational Information-->
    <div class="form-fields-container">
      <h3>Organizational Information</h3>
      <mat-form-field>
        <mat-label>Organization Name</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Region</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Core Business</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>
    </div>

    <!--Notes-->
    <div class="form-fields-container">
      <h3>Notes</h3>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput placeholder="Rossi" value="">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="close()">Annulla</button>
  <button mat-flat-button (click)="save()">Salva</button>
</mat-dialog-actions>