<h2 mat-dialog-title>Add new Customer</h2>
<mat-dialog-content>
  <form class="add-customer-form">

    <!--Anagraphic Information-->
    <div class="form-fields-container">
      <h3>Anagraphical Information</h3>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput value="{{name}}" [(ngModel)]="name" name="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput value="{{surname}}" [(ngModel)]="surname" name="surname">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput value="{{email}}" [(ngModel)]="email" name="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput value="{{phoneNumber}}" [(ngModel)]="phoneNumber" name="phoneNumber">
      </mat-form-field>
    </div>

    <!--Organizational Information-->
    <div class="form-fields-container">
      <h3>Organizational Information</h3>
      <mat-form-field>
        <mat-label>Organization Name</mat-label>
        <input matInput value="{{organizationName}}" [(ngModel)]="organizationName" name="organizationName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput value="{{city}}" [(ngModel)]="city" name="city">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Region</mat-label>
        <input matInput value="{{region}}" [(ngModel)]="region" name="region">
      </mat-form-field>

      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput value="{{state}}" [(ngModel)]="state" name="state">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Core Business</mat-label>
        <input matInput value="{{coreBusiness}}" [(ngModel)]="coreBusiness" name="coreBusiness">
      </mat-form-field>
    </div>

    <!--Notes-->
    <div class="form-fields-container">
      <h3>Notes</h3>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput value="{{notes}}" [(ngModel)]="notes" name="notes">
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="close()">Annulla</button>
  <button mat-flat-button (click)="save()">Salva</button>
</mat-dialog-actions>