<h2 mat-dialog-title>Reset Password</h2>
<mat-dialog-content>

  <form class="add-customer-form">
    <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="" [(ngModel)]="oldPassword" name="oldPassword">
    </mat-form-field>

    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="newPassword" name="newPassword">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="" value="" [(ngModel)]="confirmPassword" name="confirmPassword">
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="close()">Annulla</button>
  <button mat-flat-button (click)="save()">Salva</button>
</mat-dialog-actions>